<div class="w400 fleft">
<h1>Restaurant World(beta)</h1>
<p>Welcome to restaurant world, free online food ordering.</p>
<form>
	<input type="text" name="email" id="email" value="Email Address" />
	<input type="password" name="pass" id="pass" />
	<input type="submit" value="Signup" />
</form>
<script type="text/javascript">
</script>